{% extends "basic.html" %} {% load static %} {% block title %} Home - CS Blog {% endblock title %} {% block header %}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    var useDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;

    tinymce.init({
        selector: '#exampleFormControlTextarea1',
        paste_data_images: true,
        plugins: 'print preview paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons',
        imagetools_cors_hosts: ['picsum.photos'],
        menubar: 'file edit view insert format tools table help',
        toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',
        toolbar_sticky: true,
        autosave_ask_before_unload: true,
        autosave_interval: '30s',
        autosave_prefix: '{path}{query}-{id}-',
        autosave_restore_when_empty: false,
        autosave_retention: '2m',
        image_advtab: true,
        link_list: [{
            title: 'My page 1',
            value: 'https://www.tiny.cloud'
        }, {
            title: 'My page 2',
            value: 'http://www.moxiecode.com'
        }],
        image_list: [{
            title: 'My page 1',
            value: 'https://www.tiny.cloud'
        }, {
            title: 'My page 2',
            value: 'http://www.moxiecode.com'
        }],
        image_class_list: [{
            title: 'None',
            value: ''
        }, {
            title: 'Some class',
            value: 'class-name'
        }],
        importcss_append: true,
        file_picker_callback: function(callback, value, meta) {
            /* Provide file and text for the link dialog */
            if (meta.filetype === 'file') {
                callback('https://www.google.com/logos/google.jpg', {
                    text: 'My text'
                });
            }

            /* Provide image and alt text for the image dialog */
            if (meta.filetype === 'image') {
                callback('https://www.google.com/logos/google.jpg', {
                    alt: 'My alt text'
                });
            }

            /* Provide alternative source and posted for the media dialog */
            if (meta.filetype === 'media') {
                callback('movie.mp4', {
                    source2: 'alt.ogg',
                    poster: 'https://www.google.com/logos/google.jpg'
                });
            }
        },
        templates: [{
            title: 'New Table',
            description: 'creates a new table',
            content: '<div class="mceTmpl"><table width="98%%"  border="0" cellspacing="0" cellpadding="0"><tr><th scope="col"> </th><th scope="col"> </th></tr><tr><td> </td><td> </td></tr></table></div>'
        }, {
            title: 'Starting my story',
            description: 'A cure for writers block',
            content: 'Once upon a time...'
        }, {
            title: 'New list with dates',
            description: 'New List with dates',
            content: '<div class="mceTmpl"><span class="cdate">cdate</span><br /><span class="mdate">mdate</span><h2>My List</h2><ul><li></li><li></li></ul></div>'
        }],
        template_cdate_format: '[Date Created (CDATE): %m/%d/%Y : %H:%M:%S]',
        template_mdate_format: '[Date Modified (MDATE): %m/%d/%Y : %H:%M:%S]',
        height: 600,
        image_caption: true,
        quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
        noneditable_noneditable_class: 'mceNonEditable',
        toolbar_mode: 'sliding',
        contextmenu: 'link image imagetools table',
        skin: useDarkMode ? 'oxide-dark' : 'oxide',
        content_css: useDarkMode ? 'dark' : 'default',
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
{% endblock header %}{% block main_body %}
<div class="text-center tm-hero-text-container">
    <div class="tm-hero-text-container-inner">
        <h2 class="tm-hero-title">Edit Blog Details</h2>
        <p class="tm-hero-subtitle">
            Edit your posted Blog Details here
        </p>
    </div>
</div>

<div class="tm-next tm-intro-next">
    <a href="#whatwedo" class="text-center tm-down-arrow-link">
        <i class="fas fa-arrow-down tm-down-arrow"> Edit</i>
    </a>
</div>
</section>

<section id="whatwedo" class="tm-section-pad-top">

    <div class="container">

        <div class="row tm-content-box">
            <div class="col-lg-4">
                <img src="/media/{{retrive_block.b_image}}" width="100%" alt="Profile Pic">
                <!-- Button trigger modal -->
                <a class="text-center tm-down-arrow-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="fas tm-down-arrow">Update Picture</i>
                </a>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header tm-text-primary">
                                <h5 class="modal-title" id="exampleModalLabel">Update Picture</h5>
                                <a type="button" class="btn-close" data-bs-dismiss="modal"><i
                                            class="fa fa-times"></i></a>
                            </div>
                            <form action="/UpdatePic/{{retrive_block.id}}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <input class="form-control" type="file" accept="image/*" id="formFile" name="image" required>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" class="btn btn-primary" value="Update Picture">
                                    <!-- <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button> -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 mx-auto">
                <div class="tm-intro-text-container py-5 tm-text-primary">
                    {% if messages %}
                    <div class=" m-3 alert alert-info" id="success-alert">
                        <button type="button" class="close" data-dismiss="alert">x</button> {% for message in messages %} {{message}} {% endfor %}
                    </div>
                    {% endif %} {% if user.is_authenticated %}
                    <form action="/Edit_Blog/{{retrive_block.id}}" method="POST">
                        {% csrf_token %}
                        <label for="title" class="mx-3">Blog Title</label>
                        <input id="title" type="text" class="form-control form-control-lg m-3" name="blog_title" value="{{retrive_block.blog_title}}" required>
                        <label for="description" class="mx-3">Blog Description</label>
                        <textarea class="form-control m-3" id="description" rows="4" name="blog_description">{{retrive_block.short_desc}}</textarea>
                        <label for="content" class="mx-3">Blog Content</label>
                        <textarea class="form-control m-3" id="exampleFormControlTextarea1" name="blog_content" rows="8">{{retrive_block.main_content}} eligendi reprehenderit dignissimos adipisci fugit ea maiores! Vero voluptas ipsum, recusandae minima doloremque animi asperiores quae nesciunt ratione cum repellat a? Quo illum non ex voluptate eveniet possimus deleniti quam nostrum.</textarea>
                        <input type="submit" class="m-5 btn-primary px-5 py-2" value="Update Blog">
                    </form>
                    {% endif %}
                </div>
            </div>

        </div>

    </div>

</section>

<!-- Don't Remove this section -->
<section id="testimonials" class="tm-section-pad-top tm-parallax-2" hidden>
</section>
<!-- Contact -->
<section id="contact" class="tm-section-pad-top tm-parallax-2">
    <div class="container tm-container-contact">
        <div class="row">
            <div class="text-center col-12">
                <h2 class="tm-section-title mb-4">Contact Cybershaft </h2><br>
            </div>

            <div class="col-sm-12 col-md-6">
                <form action="" method="get">
                    <input id="Subject" name="Subject" type="text" placeholder="Subject" class="tm-input" required />
                    <textarea id="message" name="message" rows="8" placeholder="Message" class="tm-input" required></textarea>
                    <button type="submit" class="btn tm-btn-submit">Submit</button>
                </form>
            </div>

            <div class="col-sm-12 col-md-6 mx-auto">

                <div class="contact-item">
                    <a rel="nofollow" href="https://www.tooplate.com/contact" class="item-link">
                        <i class="far fa-2x fa-comment mr-4"></i>
                        <span class="mb-0">Chat Online</span>
                    </a>
                </div>

                <div class="contact-item">
                    <a rel="nofollow" href="#" class="item-link">
                        <i class="far fa-2x fa-envelope mr-4"></i>
                        <span class="mb-0">mail</span>
                    </a>
                </div>

                <div class="contact-item">
                    <a rel="nofollow" href="https://www.google.com/maps" class="item-link">
                        <i class="fas fa-2x fa-map-marker-alt mr-4"></i>
                        <span class="mb-0">Our Location</span>
                    </a>
                </div>

                <div class="contact-item">
                    <a rel="nofollow" href="tel:+918174036004" class="item-link">
                        <i class="fas fa-2x fa-phone-square mr-4"></i>
                        <span class="mb-0">+91 8174036004</span>
                    </a>
                </div>

                <div class="contact-item">&nbsp;</div>

            </div>

        </div>

    </div>

    <footer class="text-center small">
        <p class="mb-0">
            Copyright &copy; 2021 CS Blog </p>
    </footer>

</section>

<script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
<script src="{% static 'slick/slick.min.js' %}"></script>
<script src="{% static 'magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/easing.min.js' %}"></script>
<script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script>
    function getOffSet() {
        var _offset = 450;
        var windowHeight = window.innerHeight;

        if (windowHeight > 500) {
            _offset = 400;
        }
        if (windowHeight > 680) {
            _offset = 300
        }
        if (windowHeight > 830) {
            _offset = 210;
        }

        return _offset;
    }

    function setParallaxPosition($doc, multiplier, $object) {
        var offset = getOffSet();
        var from_top = $doc.scrollTop(),
            bg_css = 'center ' + (multiplier * from_top - offset) + 'px';
        $object.css({
            "background-position": bg_css
        });
    }

    // Parallax function
    // Adapted based on https://codepen.io/roborich/pen/wpAsm        
    var background_image_parallax = function($object, multiplier, forceSet) {
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        // $object.css({"background-attatchment" : "fixed"});

        if (forceSet) {
            setParallaxPosition($doc, multiplier, $object);
        } else {
            $(window).scroll(function() {
                setParallaxPosition($doc, multiplier, $object);
            });
        }
    };

    var background_image_parallax_2 = function($object, multiplier) {
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        $object.css({
            "background-attachment": "fixed"
        });

        $(window).scroll(function() {
            if ($(window).width() > 768) {
                var firstTop = $object.offset().top,
                    pos = $(window).scrollTop(),
                    yPos = Math.round((multiplier * (firstTop - pos)) - 186);

                var bg_css = 'center ' + yPos + 'px';

                $object.css({
                    "background-position": bg_css
                });
            } else {
                $object.css({
                    "background-position": "center"
                });
            }
        });
    };

    $(function() {
        // Hero Section - Background Parallax
        background_image_parallax($(".tm-parallax"), 0.30, false);
        background_image_parallax_2($("#contact"), 0.80);
        background_image_parallax_2($("#testimonials"), 0.80);

        // Handle window resize
        window.addEventListener('resize', function() {
            background_image_parallax($(".tm-parallax"), 0.30, true);
        }, true);

        // Detect window scroll and update navbar
        $(window).scroll(function(e) {
            if ($(document).scrollTop() > 120) {
                $('.tm-navbar').addClass("scroll");
            } else {
                $('.tm-navbar').removeClass("scroll");
            }
        });

        // Close mobile menu after click 
        $('#tmNav a').on('click', function() {
            $('.navbar-collapse').removeClass('show');
        })

        // Scroll to corresponding section with animation
        $('#tmNav').singlePageNav({
            'easing': 'easeInOutExpo',
            'speed': 600
        });

        // Add smooth scrolling to all links
        // https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
        $("a").on('click', function(event) {
            if (this.href !== "") {
                event.preventDefault();
                var href = this.href;
                window.location.href = href;
            } // End if
        });

        // Pop up
        $('.tm-gallery').magnificPopup({
            delegate: 'a',
            type: 'image',
            gallery: {
                enabled: true
            }
        });

        $('.tm-testimonials-carousel').slick({
            dots: true,
            prevArrow: false,
            nextArrow: false,
            infinite: false,
            slidesToShow: 3,
            slidesToScroll: 1,
            responsive: [{
                breakpoint: 992,
                settings: {
                    slidesToShow: 2
                }
            }, {
                breakpoint: 768,
                settings: {
                    slidesToShow: 2
                }
            }, {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1
                }
            }]
        });

        // Gallery
        $('.tm-gallery').slick({
            dots: true,
            infinite: false,
            slidesToShow: 5,
            slidesToScroll: 2,
            responsive: [{
                breakpoint: 1199,
                settings: {
                    slidesToShow: 4,
                    slidesToScroll: 2
                }
            }, {
                breakpoint: 991,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 2
                }
            }, {
                breakpoint: 767,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1
                }
            }, {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }]
        });
    });
</script>
</body>

</html>
{% endblock main_body %}